---
import ProjectPro from "../../../layouts/ProjectPro.astro";
import Row from "../../../components/project/Row.astro";
import Section from "../../../components/project/Section.astro";
import Column from "../../../components/project/Column.astro";
import Learnings from "../../../components/project/Learnings.astro";
import Keywords from "../../../components/project/Keywords.astro";
import Figure from "../../../components/project/Figure.astro";
import Accordion from "../../../components/project/Accordion.astro";
import Quote from "../../../components/project/Quote.astro";
import FigmaEmbed from "../../../components/project/FigmaEmbed.astro";
import heroImage from "../../../assets/pro/smartrx/ls-hero.png";
import wfbefore from "../../../assets/pro/smartrx/tag-wf-before.jpg";
import wfafter from "../../../assets/pro/smartrx/tag-wf-after.jpg";
import test from "../../../assets/pro/smartrx/test-maquette.png";
import wfcreate from "../../../assets/pro/smartrx/tag-wf-create.png";
import wfdesign from "../../../assets/pro/smartrx/tag-wf-design.png";
import wfprint from "../../../assets/pro/smartrx/tag-wf-print.png";
---

<ProjectPro
  title="Éditeur d'étiquettes"
  year="6 mois répartis sur 1 an"
  image={heroImage}
  parentPage={{ title: "Smart-Rx", url: "/pro/smartrx" }}
>
  <Row>
    <Section title="Contexte" vertical>
      <Column>
        <p>
          Module SaaS de l'ERP de pharmacies pour permettre la conception de
          modèles d'étiquettes et affichettes personnalisées.
        </p>
        <br />
        <p>
          <strong>Durée : </strong>6 mois à temps plein, répartis sur une année.
        </p>
        <p>
          <strong>Rôle : </strong>Product Designer.
        </p>
        <p>
          <strong>Equipe :</strong> J'ai travaillé étroitement avec <a
            href="https://www.linkedin.com/in/audrey-mandin-931663168/"
            target="_blank">Audrey Mandin</a
          > (PO), ainsi qu'une équipe de 2 développeurs.
        </p>
      </Column>
    </Section>
    <Section title="Enjeux" vertical>
      <Column>
        <p>
          <strong>Constat :</strong> A chaque fois qu'une pharmacie a besoin de personnaliser
          ses étiquettes, elle appelle le support Smart-Rx qui va réaliser le travail.
        </p>
        <ul class="list-arrow">
          <p>
            <strong>Impacts :</strong>
          </p>
          <li>Support dérangé pour des sujets non critiques</li>
          <li>Des menus à rallonge avec tous les modèles disponibles</li>
        </ul>
        <p>
          <strong>Brief :</strong> Concevoir un éditeur d'étiquettes qui rendent
          les pharmacies autonomes sur ce sujet.
        </p>
      </Column>
    </Section>
  </Row>

  <Row>
    <Section title="Discovery">
      <Column title="User research">
        <p>
          Audrey avait déjà collecté des informations sur les problèmes
          rencontrés par les pharmacies pour imprimer des étiquettes.
        </p>
        <br />
        <p>
          Nous avons étudié l'ensemble des problèmes pour définir la liste des
          problèmes que nous souhaitions résoudre.
        </p>
      </Column>
      <Column title="Enseignements">
        <ul class="list-arrow">
          <li>Menus à rallonge avec tous les modèles proposés</li>
          <li>
            Difficulté à comprendre la différence entre les modèles en lisant le
            menu
          </li>
          <li>
            Impossibilité de concevoir un modèle sans contacter le support
            Smart-Rx
          </li>
          <li>
            Délai de plusieurs jours pour la conception d'un modèle qui prend
            moins d'une heure de travail
          </li>
          <li>Parcours utilisateur d'impression d'étiquettes illogique</li>
          <li>
            Les pharmacies peuvent imprimer des étiquettes pour des dizaines de
            produits, en une seule passe
          </li>
        </ul>
      </Column>
    </Section>
  </Row>
  <Row>
    <Section title="Contraintes et worflow">
      <Column fullWidth>
        <p>
          <strong>Contrainte technique</strong> : le choix de basculer les développements
          front-end sur React venait d'être acté, mais les délais de formation des
          développeurs étaient trop longs pour que le produit sorte à la date attendue.
          Aussi ces développeurs ont été réalisés sur la couche front-end déjà en
          place, une librairie maison inspirée de React.
        </p>
      </Column>
      <Column title="Parcours original">
        <p>
          Audrey avait identifié que le parcours utilisateur original était
          illogique. Comme le montre le dessin ci-dessous, l'utilisateur devait
          d'abord sélectionner le modèle à utiliser, puis les produits pour
          lesquels il souhaitait imprimer les étiquettes.
        </p>
        <Figure
          caption="Parcours d'impression original"
          image={wfbefore}
          alt="Parcours d'impression original"
        />
      </Column>
      <Column title="Nouveau parcours">
        <p>
          Nous avons défini un nouveau parcours, plus logique, où l'utilisateur
          choisit d'abord les produits pour lesquels il souhaite imprimer les
          étiquettes, puis le modèle à utiliser.
        </p>
        <Figure
          caption="Parcours d'impression revu"
          image={wfafter}
          alt="Parcours d'impression revu"
        />
        <p>
          Ce nouveau parcours nous permettait de chaîner les étapes de
          l'impression de manière plus efficace et intuitive, et nous permettait
          d'y insérer le parcours de conception de nouveaux modèles.
        </p>
      </Column>
    </Section>
  </Row>
  <Row>
    <Section title="Wireframes et tests utilisateurs" threeColumns>
      <Column fullWidth>
        <p>
          <strong>Utilisateurs "proxy"</strong> : L'impression d'étiquettes et la
          conception de modèles ne sont pas des actions spécifiques du métier de
          la pharmacie.
        </p>
        <p>
          Aussi, pour accélérer le go-to-market du produit, et moins déranger
          les pharmaciens, des salariés de Smart-Rx, non impliqués dans la
          conception du produit, ont testé et validé la conception.
        </p>
        <br />
        <p>Les wireframes ont permis de valider les scénarios :</p>
        <ul class="list-arrow">
          <li>
            <strong
              >Nouveau parcours de sélection de modèles en partant d'une liste
              de produits</strong
            >
          </li>
          <li>
            Filtrage de cette liste pour faciliter l'attribution des modèles
          </li>
          <li>Édition simplifiée des libellés de produits</li>
          <li><strong>Création d'un modèle</strong></li>
          <li><strong>Conception d'un modèle</strong></li>
          <li>
            Chaînage de la conception d'un modèle avec le parcours d'impression
          </li>
        </ul>
        <p>
          En <strong>gras</strong>, les scénarios disponibles en wireframes
          ci-dessous, avec le lien pour exécuter le prototype.
        </p>
      </Column>
      <Column>
        <Figure
          caption="Impression d'étiquettes"
          image={wfprint}
          alt="Impression d'étiquettes"
          clickable
        />
        <p>
          <a
            href="https://www.figma.com/proto/1yh9FqrP6Z7qaIB7krutc4/srx-etiquettes?page-id=1%3A2&node-id=1-6926&viewport=4763%2C3170%2C0.15&t=5oki3ziaOsFCXroF-1&scaling=min-zoom&content-scaling=fixed&starting-point-node-id=1%3A6926&show-proto-sidebar=0"
            target="_blank">Exécuter le prototype</a
          >
        </p>
      </Column>
      <Column>
        <Figure
          caption="Création d'un modèle"
          image={wfcreate}
          alt="Création d'un modèle"
          clickable
        />
        <p>
          <a
            href="https://www.figma.com/proto/1yh9FqrP6Z7qaIB7krutc4/srx-etiquettes?page-id=1%3A2&node-id=1-6669&viewport=4763%2C3170%2C0.15&t=5oki3ziaOsFCXroF-1&scaling=min-zoom&content-scaling=fixed&starting-point-node-id=1%3A6669&show-proto-sidebar=0"
            target="_blank">Exécuter le prototype</a
          >
        </p>
      </Column>
      <Column>
        <Figure
          caption="Design d'un modèle"
          image={wfdesign}
          alt="Design d'un modèle"
          clickable
        />
        <p>
          <a
            href="https://www.figma.com/proto/1yh9FqrP6Z7qaIB7krutc4/srx-etiquettes?page-id=1%3A2&node-id=1-6270&viewport=4763%2C3170%2C0.15&t=5oki3ziaOsFCXroF-1&scaling=min-zoom&content-scaling=fixed&starting-point-node-id=1%3A6270&show-proto-sidebar=0"
            target="_blank">Exécuter le prototype</a
          >
        </p>
      </Column>
      <Column fullWidth>
        <p>
          Les tests menés avec nos utilisateurs "proxy" ont validé la pertinence
          et l'efficacité des parcours, qui ont été jugé intuitifs et faciles.
        </p>
      </Column>
    </Section>
  </Row>

  <Row>
    <Section title="Prototype haute-fidélité">
      <Column fullWidth>
        <p>
          Avec les informations collectées lors des tests des wireframes, j'ai
          conçu une maquette haute fidélité pour les workflow identifiés :
        </p>
        <ul class="list-arrow">
          <li>Réception de commande à la réserve</li>
          <li>Modification du stock</li>
          <li><strong>Transfert direct</strong></li>
          <li>Transfert d'un chariot de produits</li>
          <li>Transfert par réassort</li>
          <li>Activation de la gestion d'un produit en réserve</li>
          <li><strong>Vérification des produits du chariot</strong></li>
          <li>Filtrage de la liste des produits du chariot</li>
        </ul>
        <p>
          Les scénarios en <strong>gras</strong> sont ceux que vous pouvez manipuler
          ci-dessous.
        </p>
        <p>
          Lors de la phase de discovery, des besoins de fonctionnalités
          d'inventaires ont été identifiés. Ils ont été intégrés dans le design
          de la page d'accueil pour
        </p>
      </Column>
      <Column>
        <FigmaEmbed
          url="https://www.figma.com/proto/75KYihyfxnvdwxaSWFgTHv/srx-logistique?page-id=1%3A13268&node-id=1214-5422"
          caption="Transfert direct (Le bouton orange simule le scan hardware)"
          width="360px"
          height="690px"
        />
      </Column>
      <Column>
        <FigmaEmbed
          url="https://www.figma.com/proto/75KYihyfxnvdwxaSWFgTHv/srx-logistique?page-id=1%3A13269&node-id=1-8384"
          caption="Vérification des produits du chariot"
          width="360px"
          height="690px"
        />
      </Column>
      <Column fullWidth>
        <p>
          Ces prototypes ont été validés avec nos pharmaciens témoins. Les
          développements ont pu commencer sur cette base.
        </p>
      </Column>
    </Section>
  </Row>

  <Row>
    <Section>
      <Column>
        <Learnings>
          <p class="learnings-title">Adoption</p>
          <h3>+500 grandes pharmacies</h3>
          <p>~10% de la base client</p>
        </Learnings>
      </Column>
      <Column>
        <Learnings>
          <p class="learnings-title">Conception</p>
          <h3>8 parcours complets conçus et testés</h3>
          <p>~100 écrans</p>
        </Learnings>
      </Column>
    </Section>
  </Row>

  <Row>
    <Section>
      <Learnings>
        <h2>Enseignements clés</h2>
        <ul class="list-arrow">
          <li>
            <strong>La Discovery</strong> a été cruciale pour appréhender la complexité
            de la logistique, qui semblait pourtant simple. Comprendre 1 réserve
            → N pharmacies, N réserves → 1 pharmacie, distances variables (mètres
            vs km) a été déterminant pour restreindre le scope et livrer plus vite
            la v1.
          </li>
          <li>
            <strong>Restreindre le scope </strong> de cette v1 (1 réserve = 1 pharmacie),
            pour livrer plus rapidement n'a pas empêché l'adoption rapide de la solution
            (+500 pharmacies, ~10% de la base client).
          </li>
          <li>
            Choisir <strong>Material Design </strong>, et accepter une
            incohérence avec le design system pour permettre à l'équipe de se
            former sur Android a été le bon choix. Pour une app "compagnon", la
            cohérence fonctionnelle prime sur la cohérence visuelle.
          </li>
        </ul>
      </Learnings>
    </Section>
  </Row>
  <Row>
    <Section title="Liens utiles">
      <Column fullWidth>
        <ul class="list-arrow">
          <li>
            <a href="https://www.smart-rx.com/logi-stock/" target="_blank"
              >Présentation du terminal Logi-Stock</a
            >
          </li>
          <li>
            <a
              href="https://www.smart-rx.com/applications/smart-rx-logi-stock/"
              target="_blank">Page de l'application Logi-Stock</a
            >
          </li>
        </ul>
      </Column>
    </Section>
  </Row>

  <Row>
    <Keywords>
      <span class="keyword">Discovery</span>
      <span class="keyword">Figma</span>
      <span class="keyword">SaaS</span>
      <span class="keyword">User Research</span>
      <span class="keyword">UX Design</span>
    </Keywords>
  </Row>
</ProjectPro>
