---
import ProjectPro from "../../../layouts/ProjectPro.astro";
import Row from "../../../components/project/Row.astro";
import Section from "../../../components/project/Section.astro";
import Column from "../../../components/project/Column.astro";
import Learnings from "../../../components/project/Learnings.astro";
import Keywords from "../../../components/project/Keywords.astro";
import Figure from "../../../components/project/Figure.astro";
import FigmaEmbed from "../../../components/project/FigmaEmbed.astro";
import heroImage from "../../../assets/pro/meditect/ds-hero.jpg";
import workflow from "../../../assets/pro/smartrx/ls-workflow.png";
import test from "../../../assets/pro/smartrx/test-maquette.png";
import benchmark from "../../../assets/pro/meditect/ds-benchmark.png";
import chakrabtn from "../../../assets/pro/meditect/ds-chakra-button.jpg";
import meditectbtn from "../../../assets/pro/meditect/ds-btn-generic.jpg";
import actionbtn from "../../../assets/pro/meditect/ds-buttons.jpg";
import spebtn from "../../../assets/pro/meditect/ds-btn-specialized.jpg";
import dsatoms from "../../../assets/pro/meditect/ds-list-atoms.jpg";
import dsnum from "../../../assets/pro/meditect/ds-list-num.jpg";
import dsbb from "../../../assets/pro/meditect/ds-bottombar.jpg";
import dspage from "../../../assets/pro/meditect/ds-page.jpg";
import salescomponent from "../../../assets/pro/meditect/sales-component.jpg";
import saleswindow from "../../../assets/pro/meditect/sales-window.jpg";
import salesfinal from "../../../assets/pro/meditect/sales-final.jpg";
---

<ProjectPro
  title="Design System"
  image={heroImage}
  keyFigures={[
    { value: "~120 Composants", label: "Génériques" },
    { value: "~200 Composants", label: "Métier" },
    { value: "100% Des designs", label: "Basés sur ce design system" },
  ]}
>
  <Row>
    <Section title="Contexte" vertical>
      <Column>
        <p>
          Design system conçu pour supporter la conception de tous les parcours
          de l'ERP pour les pharmacies africaines.
        </p>
        <br />
        <p>
          <strong>Equipe :</strong> 3 personnes
        </p>
        <ul class="list-arrow">
          <li>
            <a href="https://www.linkedin.com/in/aureliedunier/" target="_blank"
              >Aurélie Dunier</a
            >
          </li>
          <li>
            <a
              href="https://www.linkedin.com/in/adrien-becker-bdx/"
              target="_blank">Adrien Becker</a
            >
          </li>
          <li>
            <a href="https://www.linkedin.com/in/romutisserand/" target="_blank"
              >Moi même</a
            >
          </li>
        </ul>
      </Column>
    </Section>
    <Section title="Enjeux" vertical>
      <Column>
        <p>
          Pour supporter et faciliter la conception des fonctionnalités de
          l'ERP, nous demandions à ce design system de :
        </p>
        <ul class="list-arrow">
          <li>
            Assurer la cohérence de l'UX au travers de tous les modules de
            l'application, sur le temps long
          </li>
          <li>Supporter des écrans de téléphone jusqu'aux ordinateurs</li>
          <li>Assurer le respect de l'approche <em>touch-first</em></li>
          <li>
            Rendre accessible la complexité de l'ERP à des personnes manquant de
            maîtrise des outils numériques
          </li>
        </ul>
      </Column>
    </Section>
  </Row>

  <Row>
    <Section title="Stratégie & Process">
      <Column fullWidth>
        <p>
          La conception du design system s'inscrit dans une démarche d'ensemble
          qui tient compte des enjeux de l'ERP, des choix et contraintes
          techniques et de nos propres décisions design.
        </p>
        <ul class="list-arrow">
          <li>L'ERP sera développé avec des technologies web</li>
          <li>
            Pour supporter les coupures de courant, notre appareil cible
            prioritaire est auto-alimenté et avec un écran assez grand, donc
            tablette d'abord et téléphone ensuite
          </li>
          <li>Le design system sera conçu selon la méthologie Atomic Design</li>
          <li>Les composants seront versionnés</li>
        </ul>
      </Column>
      <Column title="Appareils cibles">
        <p>
          Grâce à un fournisseur de Côte d'Ivoire, nous avons pu arrêter 2
          équipements cibles sur lesquels les design étaient testés :
        </p>
        <ul class="list-arrow">
          <li>Tablette Samsung Galaxy Tab A7 Lite, écran 1334*800</li>
          <li>Téléphone de marque Tecno, un écran de 360*806</li>
        </ul>
      </Column>
      <Column title="Principes UI">
        <p>Quelques principes UI pour le design system :</p>
        <ul class="list-arrow">
          <li>
            Des couleurs classiques pour les actions classiques (rouge pour le
            danger, orange pour les warning, etc.)
          </li>
          <li>L'accessibilité n'est pas négociable</li>
          <li>
            Les actions principales sont actionnables avec des contrôles d'au
            moins 40px, taille qui représente le meilleur compromis
            densité/accessibilité sur les appareils cibles
          </li>
          <li>Une information n'est jamais véhiculée par la couleur seule</li>
          <li>
            Le design system propose des composants génériques à spécialiser
            pour chaque parcours métier
          </li>
        </ul>
      </Column>
      <Column title="Librarie front-end">
        <p>
          L'équipe technique avait fait le choix de ReactJs comme framework
          front-end, il nous fallait choisir une librarie de composants de base
          compatible.
        </p>
        <p>
          Nous avons dédié une semaine à un benchmark de librairies front-end.
          Nos critères :
        </p>
        <ul class="list-arrow">
          <li>Repose sur ReactJs</li>
          <li>Maintenue par une communauté active</li>
          <li>Documentation claire et complète</li>
          <li>Capacité de personnalisation</li>
          <li>
            Les composants ne sont pas visuellement marqués Android ou iOS
          </li>
        </ul>
      </Column>
      <Column alignWithContent>
        <p>
          Le défi : concevoir un contrôle de filtre avec champ de recherche.
        </p>
        <Figure
          caption="Composant à créer lors du benchmark"
          image={benchmark}
          alt="Composant à créer lors du benchmark"
        />
      </Column>
      <Column fullWidth>
        <p>
          Nous avons évalué : Ant Design, Chakra UI,Semantic UI ainsi qu'une
          approche "in house", pour arrêter le choix sur <a
            href="https://chakra-ui.com/"
            target="_blank">Chakra UI</a
          >.
        </p>
      </Column>
    </Section>
  </Row>

  <Row>
    <Section title="Atome - Boutons">
      <Column>
        <p>
          Nos principes UI nous ont beaucoup aidé à tamiser les variations du
          composant bouton.
        </p>
        <p>Le composant Chakra propose 770 variations.</p>
      </Column>
      <Column>
        <Figure
          caption="Bouton Chakra UI - 770 variations"
          image={chakrabtn}
          alt="Bouton Chakra UI - 770 variations"
          width="20rem"
          clickable
        />
      </Column>
      <Column>
        <p>
          En éliminant les variations qui n'utilisent pas des couleurs
          classiques d'action, nous avons obtenu un composant générique
          comprennant 140 variations.
        </p>
        <p>
          Certaines de ces variations n'ont d'ailleurs jamais été utilisées.
        </p>
      </Column>
      <Column>
        <Figure
          caption="Bouton générique Meditect - 140 variations"
          image={meditectbtn}
          alt="Bouton générique Meditect - 140 variations"
          width="20rem"
          clickable
        />
      </Column>
      <Column>
        <p>
          Puis nous avons défini notre convention pour les boutons d'action.
        </p>
        <p>
          Nous sommes passés à 108 variations. Là aussi, certaines n'ont jamais
          été utilisées.
        </p>
      </Column>
      <Column>
        <Figure
          caption="Bouton d'actions Meditect - 108 variations"
          image={actionbtn}
          alt="Bouton d'actions Meditect - 108 variations"
          width="20rem"
          clickable
        />
      </Column>
      <Column>
        <p>
          Enfin, nous avons spécialisé les boutons pour les actions les plus
          communes du produit.
        </p>
        <p>
          Ces boutons spécialisés permettent : de maintenir la cohérence du
          produit, et d'éviter de nous poser certaines questions inutiles.
        </p>
      </Column>
      <Column>
        <Figure
          caption="3 Boutons spécialisés sur 24"
          image={spebtn}
          alt="3 Boutons spécialisés sur 24"
          width="20rem"
          clickable
        />
      </Column>
    </Section>
  </Row>
  <Row>
    <Section title="Atomes → Molécules → Organismes">
      <Column fullWidth>
        <p>
          L'approche Atomic Design n'a pas été inutile pour concevoir ce design
          system. Examinons ici comment nous avons conçu des composants plus
          complexes.
        </p>
        <p>
          Notre produit faisant massivement usage de listes, nous avons consacré
          le temps nécessaire à réaliser un ensemble de composants pour
          concevoir des listes spécialisées rapidement.
        </p>
      </Column>
      <Column title="Atomes">
        <p>Nous démarrons avec 3 atomes : label, value et caption.</p>
        <p>
          Ce n'est pas visible ici, mais ces composants ne sont pas exportés en
          dehors du design system.
        </p>
      </Column>
      <Column alignWithContent>
        <Figure
          caption="Atomes pour les éléments d'une cellule de liste"
          image={dsatoms}
          alt="Atomes pour les éléments d'une cellule de liste"
          width="20rem"
          clickable
        />
      </Column>
      <Column title="Molécule : Number cell">
        <p>
          Ces 3 composants sont assemblés pour former une cellule de liste, ici
          pour afficher un nombre (alignement à droite).
        </p>
        <p>Ils sont bien sûr disponibles pour la tablette et le téléphone.</p>
        <p>
          Petite astuce : pour contourner certains limitations de auto-layout,
          des versions avec des espaces vides ont dû être conçues, de manière à
          obtenir l'effet souhaité.
        </p>
      </Column>
      <Column alignWithContent>
        <Figure
          caption="Molécule Number"
          image={dsnum}
          alt="Molécule Number"
          width="20rem"
          clickable
        />
      </Column>
      <Column title="Organisme : BottomBar">
        <p>
          Ce composant <em>Number</em> est lui même embarqué dans plusieurs composants
          plus conséquents, comme les listes, ou comme ici dans la BottomBar, avec
          des boutons et une barre de progression.
        </p>
        <p>
          La version mobile est adaptée à l'espace disponible : boutons réduits
          et seulement les informations essentielles.
        </p>
      </Column>
      <Column alignWithContent>
        <Figure
          caption="Organisme BottomBar"
          image={dsbb}
          alt="Organisme BottomBar"
          clickable
        />
      </Column>
    </Section>
  </Row>
  <Row>
    <Section title="Templates">
      <Column>
        <p>
          Pour les templates, nous avons mis en oeuvre un système de <em
            >placeholders</em
          >, qui permet de se réserver l'espace sur les interfaces, et de
          déléguer l'usage précis de cet espace aux cas métiers spécifiques.
        </p>
        <p>Pour adapter le template :</p>
        <ul class="list-arrow">
          <li>L'intégrer dans le design métier</li>
          <li>Adapter les onglets de la navigation secondaire</li>
          <li>
            Ajuster les propriétes aux besoins du cas métier : zone du haut,
            champ de recherche, etc
          </li>
        </ul>
      </Column>
      <Column>
        <Figure
          caption="Template Page avec placeholders"
          image={dspage}
          alt="Template Page avec placeholders"
          clickable
        />
      </Column>
    </Section>
  </Row>
  <Row>
    <Section>
      <Learnings>
        <h3>Design system de ~120 composants</h3>
        <p>
          Usage intense des possibilités de Figma : Auto-layout, Variant,
          Variables depuis 2023 (date de leur introduction) +versioning via
          l'usage du plugin <em>Semantic-Versioning</em>.
        </p>
      </Learnings>
    </Section>
  </Row>
  <Row>
    <Section title="A l'usage - Point de vente">
      <Column title="Composants métier">
        <p>
          Voyons comment nous avons utilisé le design system pour créer des
          composants spécifiques pour le point de vente.
        </p>
        <p>
          Ici, un assemblage de composants constitue le contenu principal de
          l'interface du point de vente. Cet ensemble est lui-même un composant.
        </p>
      </Column>
      <Column alignWithContent>
        <Figure
          caption="Composant du point de vente"
          image={salescomponent}
          alt="Composant du point de vente"
          clickable
        />
      </Column>
      <Column title="Ecran final">
        <p>
          Ce composant métier est intégré dans le template décrit ci-dessus, lui
          même configuré pour réfléter l'espace de vente.
        </p>
        <p>
          Les zones noires (en haut) et grise (en bas) simulent les éléments
          système d'Android, le système de notre tablette cible.
        </p>
      </Column>
      <Column alignWithContent>
        <Figure
          caption="Design final du point de vente"
          image={saleswindow}
          alt="Design final du point de vente"
          clickable
        />
      </Column>
      <Column title="En production">
        <p>
          Le même écran en production. Certains éléments ont évolués depuis le
          design system auquel j'ai accès.
        </p>
      </Column>
      <Column alignWithContent>
        <Figure
          caption="Point de vente en production"
          image={salesfinal}
          alt="Point de vente en production"
          clickable
        />
      </Column>
    </Section>
  </Row>
  <Row>
    <Section>
      <Learnings>
        <h3>~200 composants métiers</h3>
        <p>
          Tous conçus à partir des composants du design system. Pour environ 10
          modules dans l'ERP.
        </p>
      </Learnings>
    </Section>
  </Row>
  <Row>
    <Section>
      <Learnings>
        <h2>Enseignements clés</h2>
        <ul class="list-arrow">
          <li>
            <strong>100% des designs </strong> utilisent ce system design, grâce
            auquel nous avons pu concevoir des nouvelles fonctionnalités en maintenant
            les cohérence UX et visuelle, sans avoir à tout réinventer.
          </li>
          <li>
            <strong>Traduction dans le code :</strong> Au début, nous avons travaillé
            avec <strong>Storybook</strong> pour traduire les composants Figma en
            code. Mais l'urgence de mettre en production un produit opérationnel
            et prouver notre market-fit a eu raison de cette initiative.
          </li>
          <li>
            <strong>UX mobile != UX écran large en plus petit :</strong> A mesure
            que l'enveloppe fonctionnelle de l'ERP grossissait, nous avons compris
            que pour tirer parti au mieux de chaque taille d'écran, nous devions
            faire diverger l'UX mobile et l'UX écran large. La recherche du market-fit
            nous a amené à remettre ce chantier à plus tard.
          </li>
        </ul>
      </Learnings>
    </Section>
  </Row>

  <Row>
    <Keywords>
      <span class="keyword">Atomic Design</span>
      <span class="keyword">Chakra UI</span>
      <span class="keyword">Design System</span>
      <span class="keyword">Figma</span>
      <span class="keyword">Mobile</span>
      <span class="keyword">Tablette</span>
      <span class="keyword">UX/UI Design</span>
    </Keywords>
  </Row>
</ProjectPro>
