---
import ProjectPro from "../../../layouts/ProjectPro.astro";
import Row from "../../../components/project/Row.astro";
import Section from "../../../components/project/Section.astro";
import Column from "../../../components/project/Column.astro";
import Learnings from "../../../components/project/Learnings.astro";
import Keywords from "../../../components/project/Keywords.astro";
import Figure from "../../../components/project/Figure.astro";
import Accordion from "../../../components/project/Accordion.astro";
import Quote from "../../../components/project/Quote.astro";
import ProjectCard from "../../../components/ProjectCard.astro";
import heroImage from "../../../assets/pro/meditect/hero.png";
import segmentation from "../../../assets/pro/meditect/segmentation.png";
import mapping from "../../../assets/pro/meditect/mapping.png";
import roadmap from "../../../assets/pro/meditect/roadmap.png";
import sprint from "../../../assets/pro/meditect/sprint.png";
import medina from "../../../assets/pro/meditect/medina.jpg";
import belier from "../../../assets/pro/meditect/belier.jpg";
import depotsikensi from "../../../assets/pro/meditect/depot-sikensi.jpg";
import wireframes from "../../../assets/pro/meditect/wireframes.png";
import couleurs from "../../../assets/pro/meditect/couleurs.webp";
import refold from "../../../assets/pro/meditect/ref-old.webp";
import refnew from "../../../assets/pro/meditect/ref-new.jpg";
import dsbtn from "../../../assets/pro/meditect/ds-button.png";
import dsshell from "../../../assets/pro/meditect/ds-shell.png";
import test from "../../../assets/pro/meditect/test-etiquettes.png";
import result from "../../../assets/pro/meditect/test-etiquettes-resultats.jpg";
import tracabilite from "../../../assets/pro/meditect/tracabilite.png";
import recthumb from "../../../assets/pro/meditect/rec-thumb.jpg";
import dsthumb from "../../../assets/pro/meditect/ds-thumbnail.jpg";
---

<ProjectPro
  title="Meditect"
  year="2021 - 2024"
  image={heroImage}
  externalLink="https://www.meditect.com/"
  keyFigures={[
    { value: "~5% du marché", label: "En 2 ans (7 pays)" },
    { value: "2 Labos pharma", label: "Signés comme partenaires" },
    { value: "+27k Produits", label: "1er catalogue digital d'Afrique" },
  ]}
>
  <Row>
    <Section title="Contexte">
      <Column>
        <p>
          Meditect est une startup healthtech initialement créée pour lutter
          contre les faux médicaments en Afrique subsaharienne.
        </p>
        <p><strong>Durée : </strong>4 ans</p>
        <p>
          <strong>Equipe : </strong>environ 20 personnes.
        </p>
        <p>
          <strong>Mon rôle : </strong>Directeur produit & design, avec une
          équipe de 3 personnes (Designer, PO, Intégrateur front-end).
        </p>

        <p>Membre du comité de direction.</p>
      </Column>
      <Column>
        <p>Recruté lors d'un pivot stratégique :</p>
        <ul class="list-arrow">
          <li>
            <strong>Digitaliser la santé </strong>
            en Afrique subsaharienne, dont les flux sont encore très <em
              >papier-crayon
            </em>
            <li>
              La <strong>data</strong> sera notre source de revenus
            </li>
          </li>
        </ul>
        <Learnings>
          <p>
            Dans un système de santé, le pharmacien est l'interlocuteur de
            toutes les parties prenantes, il en est le <strong
              >maillon central</strong
            >.
          </p>
          <ul class="list-arrow">
            <li>Nous commencerons donc par le pharmacien.</li>
          </ul>
        </Learnings>
      </Column>
    </Section>
  </Row>
  <Row>
    <Section title="Stratégie produit et impact">
      <Column title="Challenge">
        <p>Plus de 50 pharmacies visitées, pour découvrir que :</p>
        <ul class="list-arrow">
          <li>
            <strong>Le besoin n°1 </strong>est d'avoir un stock <em>propre</em>,
            pour être en capacité de toujours servir les patients, et minimiser
            les pertes de trésorerie à cause des produits périmés.
          </li>
          <li>
            La <strong>concurrence </strong>propose des solutions <em
              >on-premise</em
            > qui ne tiennent pas face aux coupures régulières du courant électrique.
          </li>
        </ul>
      </Column>
      <Column title="Vision">
        <p>
          Un nouveau logiciel de pharmacie, SaaS, <em>mobile first</em>, pour :
        </p>
        <ul class="list-arrow">
          <li>Résister aux coupures de réseau (électrique et data)</li>
          <li>Permettre le pilotage à distance</li>
          <li>
            Equipé d'un catalogue standardisé de produits, devenu notre
            <strong>asset stratégique</strong> en permettant de produire la donnée
            sur plusieurs marchés.
          </li>
        </ul>
      </Column>
      <Column fullWidth>
        <Learnings>
          <h4>Impact</h4>
          <ul class="list-arrow">
            <li>
              7 pays et ~5% du marché cible en 24 mois, 1ères ventes en 12 mois
            </li>
            <li>Partenariats avec 2 laboratoires pharmaceutiques majeurs</li>
            <li>
              1er catalogue d'Afrique subsaharienne validé par des pharmaciens
              (+27k produits), monétisé auprès d'un acteur majeur de l'assurance
              santé privée (S&P 500)
            </li>
          </ul>
        </Learnings>
      </Column>
      <Column>
        <Quote author="Matthieur Bagory - ex-CTO de Meditect">
          <p>
            Romuald a établi une solide culture produit basée sur la recherche
            utilisateur et des discussions exigeantes. Grâce à lui, nous avons
            réussi à pivoter d'une solution B2C de traçabilité à un système B2B
            de gestion de pharmacie. Un véritable team player et bâtisseur
            persévérant.
          </p>
        </Quote>
      </Column>
      <Column>
        <Quote author="Maxime Petit - Développeur Full-Stack chez Meditect">
          <p>
            La vision claire de Romuald et sa constance ont permis à l'équipe de
            travailler avec cohérence. Il comprend les défis du développement,
            ce qui facilite la priorisation et rend nos interactions sur le
            design efficaces.
          </p>
        </Quote>
      </Column>
      <Accordion title="Artefacts de la stratégie produit" headingLevel="h3">
        <Column title="Segmentation commerciale" headingLevel="h4">
          <p>
            Les segments, issus du livre <em>Crossing the chasm</em>
            de G. A. Moore, ont permis de cartographier et ordonner les cibles commerciales.
          </p>
          <p>
            2 segments ont été ajoutés pour coller aux besoins spécifiques du
            marché africain :
          </p>
          <ul class="list-arrow">
            <li>
              <em>Dépôts de médicaments</em> : a débloqué nos ventes après 12 mois
              de développement.
            </li>
            <li>
              <em>Pharmacies avec dépôts</em> : pour anticiper un impact majeur sur
              le produit.
            </li>
          </ul>
        </Column>
        <Column alignWithContent>
          <Figure
            caption="Segmentation commerciale"
            width="30rem"
            image={segmentation}
            alt="Segmentation commerciale"
            clickable
          />
        </Column>
        <Column title="Product Planning" headingLevel="h4" fullWidth>
          <p>
            Planification produit organisée autour de 3 temporalités pour
            aligner la stratégie et l'exécution :
          </p>
          <ul class="list-arrow">
            <li>
              <strong>Mapping</strong> : Temps long, actualisation continue
            </li>
            <li>
              <strong>Roadmap du trimestre</strong> : Enveloppe fonctionnelle à 3
              mois
            </li>
            <li>
              <strong>Sprint</strong> : Exécution court terme (développement)
            </li>
          </ul>
        </Column>
        <Figure
          caption="Tasks mapping"
          width="18rem"
          image={mapping}
          alt="Tasks mapping"
          clickable
        />
        <Figure
          caption="Roadmap trimestrielle"
          width="18rem"
          image={roadmap}
          alt="Roadmap trimestrielle"
          clickable
        />
        <Figure
          caption="Sprint"
          width="18rem"
          image={sprint}
          alt="Sprint"
          clickable
        />
      </Accordion>
    </Section>
  </Row>
  <Row>
    <Section title="Discovery et process de recherche">
      <Column fullWidth>
        <br />
        <p>
          <strong>Priorité n°1 : Comprendre le terrain.</strong>
        </p>
      </Column>
      <Column title="Principes fondateurs">
        <!-- <p>Principes fondateurs :</p> -->
        <ul class="list-arrow">
          <li>
            <strong>Recherche terrain structurée</strong> : plus de 300 comptes-rendus
            d'échanges avec les pharmaciens. La majorité sur le terrain, et le reste
            via WhatsApp, très prisé en Afrique.
          </li>
          <li>
            <strong>Multi-stakeholders </strong> : Plus de 20 échanges avec les autres
            acteurs de la chaîne de valeur, assurances, grossistes et laboratoires.
          </li>
          <li>
            <strong>Documentation systématique</strong> : Tous les échanges sont
            retranscrits, tous les parcours décrits et illustrés de photos in-situ.
          </li>
          <li>
            <strong>Recherche continue</strong> : Pas une semaine sans échange avec
            au moins un.e pharmacien.ne.
          </li>
        </ul>
      </Column>
      <Column title="Principes opérationnels">
        <p>La recherche est organisée dans des bases de données Notion :</p>
        <ul class="list-arrow">
          <li>
            <strong>To Learn</strong> : Nous y notons nos questions, au fil de l'eau.
            Quand nous avons des réponses, la question est marquée comme résolue.
          </li>
          <li>
            <strong>Sessions </strong> : Retranscription des échanges avec les pharmaciens
            + photos + vidéos + scan de documents, etc. Les sujets évoqués ont été
            préparés en avance.
          </li>
        </ul>
        <p>
          Les informations collectées vont nourrir le processus de conception et
          la roadmap produit.
        </p>
      </Column>
      <Figure
        caption="Pharmacie Medina - Dakar - Sénégal"
        width="18rem"
        image={medina}
        alt="Pharmacie Medina - Dakar - Sénégal"
      />
      <Figure
        caption="Observation processus de commande"
        width="18rem"
        image={belier}
        alt="Observation processus de commande"
        clickable
      />
      <Figure
        caption="Dépôt de médicaments à Sikensi - Côte d'Ivoire"
        width="18rem"
        image={depotsikensi}
        alt="Dépôt de médicaments à Sikensi - Côte d'Ivoire"
        clickable
      />
    </Section>
  </Row>
  <Row>
    <Section title="Product Design">
      <Column title="Wireframes">
        <p>
          Lors de mon expérience chez Smart-Rx, j'avais formé une idée de ce que
          pourrait donner une interface efficace pour un produit aussi complexe.
        </p>
        <ul class="list-arrow">
          <li>
            <strong>Navigation principale :</strong> pour passer de l'espace de vente
            aux commandes, en passant par la gestion financière.
          </li>
          <li>
            <strong>Navigation secondaire : </strong>pour spécialiser le travail
            dans un espace. Ex. pour les commandes : préparer, agir sur les
            commandes, réceptionner.
          </li>
        </ul>
        <p>
          Je voulais qu'on fasse un logiciel aussi simple à prendre en main que
          possible, malgré la complexité sous-jacente.
        </p>
        <p>Nos pharmaciens internes ont validé cette vision du produit.</p>
      </Column>
      <Column alignWithContent>
        <Figure
          caption="Wireframes du logiciel"
          width="30rem"
          image={wireframes}
          alt="Wireframes du logiciel"
        />
      </Column>
      <Column title="❌ Charte de couleurs" fullWidth>
        <p>
          Nous avions imaginé une charte de couleurs inspirées des couleurs
          africaines : le rouge de la terre et le vert de la végétation. Nous
          avons présenté le prototype de notre catalogue de produits, avec cette
          charte.
        </p>
      </Column>
      <!-- <Column> -->
      <Figure
        caption="Inspiration de la charte"
        width="18rem"
        image={couleurs}
        alt="Inspiration de la charte"
      />
      <!-- </Column>
      <Column> -->
      <Figure
        caption="Protype du catalogue"
        width="18rem"
        image={refold}
        alt="Protype du catalogue"
        clickable
      />
      <!-- </Column>
      <Column> -->
      <Figure
        caption="Catalogue en production"
        width="18rem"
        image={refnew}
        alt="Catalogue en production"
        clickable
      />
      <!-- </Column> -->
      <Column fullWidth>
        <Learnings>
          <p>
            👎 Cette charte "africaine" a fortement déplu aux pharmaciens. Ils
            voulaient un outil "pro", pas un marqueur culturel. Nous avons
            basculé vers des couleurs classiques en vigueur dans le monde de la
            santé en occident : du bleu et du vert (image du catalogue en
            production).
          </p>
        </Learnings>
      </Column>
      <Column title="Design system" fullWidth>
        <p>
          Nous avons mené un benchmark de librairies UI, et choisi <a
            href="https://www.chakra-ui.com/"
            target="_blank">Chakra UI</a
          >. Sur cette base, nous avons construit notre design system, en
          suivant les principes de Atomic Design, qui repose massivement sur les
          composants, variables et variants et auto-layout de Figma.
        </p>
      </Column>
      <Column>
        <Figure
          caption="Design system : Boutons"
          image={dsbtn}
          alt="Design system : Boutons"
          clickable
        />
      </Column>
      <Column>
        <Figure
          caption="Design system : Shell"
          image={dsshell}
          alt="Design system : Shell"
          clickable
        />
      </Column>
      <Column>
        <p>
          Ce design system contient environ 120 composants, tous disponibles en
          version écran large et mobile. En savoir plus ? Cliquer sur le <a
            href="/pro/meditect/designsystem">deep-dive</a
          >.
        </p>
      </Column>
      <Column title="Tests utilisateurs" fullWidth>
        <p>
          Pas facile les tests utilisateurs à 6500 km de distance ! Ma présence
          sur le terrain était consacrée à la discovery et à l'accompagnement
          des commerciaux. Pour les tests utilisateurs, nous nous sommes
          inspirés de ce qu'avait réalisé Doctolib :
        </p>
        <ol>
          <li>Réalisation d'une vidéo d'exécution du prototype.</li>
          <li>
            Publication d'une page Notion avec la vidéo accompagnée d'un
            questionnaire d'évaluation.
          </li>
          <li>Envoi du lien de la page aux pharmaciens via WhatsApp.</li>
        </ol>
        <p>
          Sauf cas spécifiques, le questionnaire contient des questions portant
          sur la compréhension du fonctionnement et de la simplicité perçue à
          l'utilisation. Chaque question porte un score de 1 (faible) à 10
          (fort), ce qui nous donne un score global. La personne qui répond peut
          bien sûr nous laisser des commentaires.
        </p>
        <p>
          Exemple avec <a
            href="https://tisserand.notion.site/Impression-des-tiquettes-1c8000ee8f6f80fb9be7e2f1105cfb51"
            target="_blank">l'impression des étiquettes</a
          >.
        </p>
      </Column>
      <Column>
        <Figure
          caption="Page de tests pour l'impression des étiquettes"
          image={test}
          width="20rem"
          alt="Page de tests pour l'impression des étiquettes"
          clickable
        />
      </Column>
      <Column>
        <Figure
          caption="Résultats des tests pour l'impression des étiquettes"
          image={result}
          alt="Résultats des tests pour l'impression des étiquettes"
          clickable
        />
      </Column>
      <Column fullWidth>
        <p>
          Cette approche asynchrone nous a permis d'effacer une partie de la
          distance. Nous avons pu collecter des retours quantifiés qui ont
          permis de valider nos concepts et d'itérer sur certains points (modèle
          d'étiquette par exemple).
        </p>
      </Column>
      <Column title="Traçabilité">
        <p>Chaque fichier de design est organisé comme suit :</p>
        <ul class="list-arrow">
          <li>
            <strong>components</strong> : page qui contient les composants pour ce
            fichier. Ils sont issus du design system, et spécialisés.
          </li>
          <li>
            <strong>[YYQX] sujet</strong> : page identifiée par le trimestre de développement
            et le sujet traité. Exemple : [23Q1] Editer un BL des produits de la
            vente.
          </li>
          <li>
            <strong>vignette de traçabilité :</strong> dans chaque page d'un sujet,
            une vignette permet de revenir au ticket concerné (et vice versa).
          </li>
        </ul>
      </Column>
      <Column alignWithContent>
        <Figure
          caption="Traçabilité Figma/Notion"
          image={tracabilite}
          alt="Traçabilité Figma/Notion"
        />
      </Column>
    </Section>
  </Row>
  <Row>
    <Section title="Cas pratiques">
      <br />
      <Column fullWidth>
        <ProjectCard
          title="Design system"
          description="Accélérer la conception du produits et renforcer la cohérence UX et UI."
          link="/pro/meditect/designsystem"
          image={dsthumb}
          bottomText="120 composants génériques / +100 composants spécialisés"
        />
      </Column>
      <Column fullWidth>
        <ProjectCard
          title="Réception de commande"
          description="Faciliter l'alimentation du stock par une fonctionnalité exécutée plusieurs fois chaque jour."
          link="/pro/meditect/receiving"
          image={recthumb}
          bottomText="Fonctionnalité 0 → 1"
        />
      </Column>
    </Section>
  </Row>
  <Row>
    <Section>
      <Column>
        <Quote author="Dr Mansour - Yaoundé  - Cameroun">
          <p>
            Votre produit, il est quand même révolutionnaire si on compare à ce
            qui existe chez nous.
          </p>
        </Quote>
      </Column>
      <Column>
        <Quote author="Dr Eteki - Douala - Cameroun">
          <p>...votre logiciel est quand même bien pensé...</p>
        </Quote>
      </Column>
      <Column>
        <Quote author="Nadia - Commerciale Meditect">
          <p>
            Les clients sont plutôt satisfaits, la preuve : déjà plusieurs
            recommandations !
          </p>
        </Quote>
      </Column>
    </Section>
  </Row>
  <Row>
    <Section>
      <Learnings>
        <h2>Enseignements clés</h2>
        <ul class="list-arrow">
          <li>
            <p><strong>Discovery terrain = fondation produit</strong></p><p>
              Toutes les heures de terrain, sur place ou sur WhatsApp ont donné
              des enseignements critiques qu'un brief rapide n'aurait jamais
              révélé. Sans cette immersion, le produit n'aurait probablement pas
              été celui là.
            </p>
          </li>
          <li>
            <p><strong>Le Product Market Fit prime</strong></p><p>
              Avec des ressources limitées, mieux vaut un produit incomplet qui
              fonctionne. Décision assumée : abandonner Storybook et reporter
              l'optimisation UX mobile pour valider le marché d'abord.
            </p>
            <li>
              <p>
                <strong
                  >Design system = facilitateur de passage à l'échelle</strong
                >
              </p><p>
                Grâce à notre design system de +120 composants, avec une petite
                équipe de 4 personnes, nous avons pu concevoir un ERP complet et
                cohérent. Dans ce contexte startup, cela a vraiment été un "game
                changer".
              </p>
            </li>
            <li>
              <p>
                <strong>Pragmatisme = trouver des solutions</strong>
              </p><p>
                A 6500 km de distance, en startup, le pragmatisme règne, il faut
                s'adapter et trouver des solutions qui permettent d'avancer avec
                ce qu'on a, comme les tests sur vidéos.
              </p>
            </li>
          </li>
        </ul>
      </Learnings>
    </Section>
    <Row>
      <Section title="Liens utiles">
        <Column fullWidth>
          <ul class="list-arrow">
            <li>
              <a href="https://pharmacie.meditect.com/" target="_blank"
                >Accueil de l'application pharmacien</a
              >
            </li>
            <li>
              <a
                href="https://tisserand.notion.site/Impression-des-tiquettes-1c8000ee8f6f80fb9be7e2f1105cfb51"
                target="_blank"
                >User Research : prototype d'impression des étiquettes</a
              >
            </li>
            <li>
              <a
                href="https://meditect.notion.site/Aide-du-LGO-Meditect-75c8777c4474403bad7fc9ca07032033"
                target="_blank">Aide de l'application pharmacien</a
              >
            </li>
            <li>
              <a href="https://www.meditect.com/" target="_blank"
                >Site de Meditect</a
              >
            </li>
          </ul>
        </Column>
      </Section>
    </Row>
    <Row>
      <Keywords>
        <span class="keyword">Design Ops</span>
        <span class="keyword">Design System</span>
        <span class="keyword">Discovery</span>
        <span class="keyword">Figma</span>
        <span class="keyword">Notion</span>
        <span class="keyword">OKRs</span>
        <span class="keyword">Product Ops</span>
        <span class="keyword">React</span>
        <span class="keyword">SaaS</span>
        <span class="keyword">Healthtech</span>
        <span class="keyword">Storybook</span>
        <span class="keyword">User Research</span>
        <span class="keyword">UX Design</span>
      </Keywords>
    </Row>
  </Row>
</ProjectPro>
